{{/* People Widget */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $page := .page }}
{{ $st := .page }}
{{ $columns := $page.Params.design.columns | default "2" }}
{{ $show_social := $page.Params.design.show_social | default false }}
{{ $show_interests := $page.Params.design.show_interests | default true }}

<div class="row {{if not $st.Title | or (eq $columns "1") }}justify-content-center{{end}}">
	{{ if eq $columns "1" }}
		<div class="section-heading col-12 mb-3 text-center">
			{{ with $st.Title }}<h1 class="mb-0">{{ . | markdownify | emojify }}</h1>{{ end }}
			{{ with $st.Params.subtitle }}<p class="mt-1">{{ . | markdownify | emojify }}</p>{{ end }}
		</div>
	{{else}}
		<div class="section-heading col-12 col-lg-4 mb-3 mb-lg-0 d-flex flex-column align-items-center align-items-lg-start">
			{{ with $st.Title }}<h1 class="mb-0">{{ . | markdownify | emojify }}</h1>{{ end }}
			{{ with $st.Params.subtitle }}<p class="mt-1">{{ . | markdownify | emojify }}</p>{{ end }}
		</div>
	{{end}}

  <div class="col-12 {{if eq $columns "2"}}col-lg-8{{end}}{{if eq $columns "1"}}text-center{{end}}">
  {{ with $page.Content }}
    {{ . }}
  {{ end }}

		<div class="row people-widget">
		{{ range $page.Params.content.user_groups }}
			{{ $query := sort (where (where site.Pages "Section" "authors") ".Params.user_groups" "intersect" (slice .)) ".Params.committee_period" }}

			{{ range $query }}
				<div class="col-12 col-lg-4 col-sm-auto people-person">
				{{ $avatar := (.Resources.ByType "image").GetMatch "*avatar*" }}
				{{/* Get link to user's profile page. */}}
				{{ $link := "" }}
				{{ with site.GetPage (printf "/authors/%s" (path.Base (path.Split .Path).Dir)) }}
					{{ $link = .RelPermalink }}
				{{ end }}

				{{ $src := "" }}
				{{ if site.Params.avatar.gravatar }}
					{{ $src = printf "https://s.gravatar.com/avatar/%s?s=150" (md5 .Params.email) }}
				{{ else if $avatar }}
					{{ $avatar_image := $avatar.Fill "270x270 Center" }}
					{{ $src = $avatar_image.RelPermalink }}
				{{ end }}
				{{ if $src }}
					{{ $avatar_shape := site.Params.avatar.shape | default "circle" }}
					{{with $link}}<a href="{{.}}">{{end}}<img class="avatar {{if eq $avatar_shape "square"}}avatar-square{{else}}avatar-circle{{end}}" src="{{ $src }}" alt="Avatar">{{if $link}}</a>{{end}}
				{{ end }}

					<div class="portrait-title">
						<h2>{{with $link}}<a href="{{.}}">{{end}}{{ .Title }}{{if $link}}</a>{{end}}</h2>
						{{ with .Params.committee_period }}<h3>{{ . | markdownify }}</h3>{{ end }}
						{{ with .Params.role }}<h3>{{ . | markdownify | emojify }}</h3>{{ end }}
						{{ if $show_social }}{{ partial "social_links" . }}{{ end }}
						{{ if and $show_interests .Params.interests }}<p class="people-interests">{{ delimit .Params.interests ", " | markdownify | emojify }}</p>{{ end }}
					</div>
				</div>
			{{ end }}
		{{ end }}
		</div>
	</div>
</div>
