// Reduce huge ckcmc partner logo on details page
.article .featured-image {
  max-height: 100px;
  width: auto;
}

// Center conference series blank widget overview heading
#intro.wg-blank h1 {
  text-align: center;
}
